@import "tailwindcss";
@plugin "daisyui" {
  themes: light --default, dark --prefersdark, cupcake , coffee , abyss , night , dim;
}
@theme {
  --color-main-background: #111827;
  --color-main-color: #242a38;
  --color-second-color: #28293d;
  --color-main-white: #ffffff;
  --color-second-white: #d1d5db;
  --color-third-white: #ffffff0d;
  --color-main-green: #22c55e;
  --color-main-blue: #0ea5e9;
  --color-gray-color: #64748b;
  --color-main-yellow: #f59e0b;
  --color-main-red: #e74c3c;
  --color-border-color: #323349;
  --font-dana-regular: "dana-regular";
  --font-dana-bold: "dana-bold";
  --font-dana-demi: "dana-demi";
  --font-dana-extra-bold: "dana-extra-bold";
  --font-dana-extra-light: "dana-extra-light";
  --font-dana-medium: "dana-medium";
  --font-dana-light: "dana-light";
}

@font-face {
  font-family: "dana-regular";
  src: url("/fonts/Dana-FaNum-Regular.ttf");
}
@font-face {
  font-family: "dana-bold";
  src: url("/fonts/Dana-FaNum-Bold.ttf");
}
@font-face {
  font-family: "dana-demi";
  src: url("/fonts/Dana-FaNum-DemiBold.ttf");
}
@font-face {
  font-family: "dana-extra-bold";
  src: url("/fonts/Dana-FaNum-ExtraBold.ttf");
}
@font-face {
  font-family: "dana-extra-light";
  src: url("/fonts/Dana-FaNum-ExtraLight.ttf");
}
@font-face {
  font-family: "dana-medium";
  src: url("/fonts/Dana-FaNum-Medium.ttf");
}
@font-face {
  font-family: "dana-light";
  src: url("/fonts/Dana-FaNum-Light.ttf");
}

body {
  direction: rtl !important;
  text-align: right;
  margin: 0;
  padding: 0;
}

html::-webkit-scrollbar {
  width: 8px;
}
html::-webkit-scrollbar-thumb {
  background-color: #64748b;
}
html::-webkit-scrollbar-track {
  background-color: #242a38;
}